.custom-icon {
  color: orange;
}
.date-picker-wrapper {
  display: flex;
  flex-direction: column;
}

.date-picker-radio-group {
  position: absolute;
  top: 40px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  width: 100%;
}
.date-picker-radio-group .radio-group {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 16px 0px 16px 32px;
}
:where(.css-dev-only-do-not-override-12jzuas).ant-picker-dropdown
  .ant-picker-date-panel
  .ant-picker-body {
  margin-top: 30px;
  padding: 8px 18px;
}

:where(.css-dev-only-do-not-override-12jzuas).ant-picker-dropdown
  .ant-picker-cell-in-view.ant-picker-cell-today
  .ant-picker-cell-inner::before {
  border-radius: 50%;
  border: none;
}
:where(.css-dev-only-do-not-override-12jzuas).ant-picker-dropdown
  .ant-picker-cell-in-view.ant-picker-cell-selected
  .ant-picker-cell-inner,
:where(.css-dev-only-do-not-override-12jzuas).ant-picker-dropdown
  .ant-picker-cell-in-view.ant-picker-cell-range-start
  .ant-picker-cell-inner,
:where(.css-dev-only-do-not-override-12jzuas).ant-picker-dropdown
  .ant-picker-cell-in-view.ant-picker-cell-range-end
  .ant-picker-cell-inner {
  border-radius: 50%;
  background-color: #ffba7b;
  color: white;
  border: none;
}
:where(.css-dev-only-do-not-override-12jzuas).ant-picker-dropdown
  .ant-picker-week-panel
  .ant-picker-body {
  padding-top: 40px !important;
}
:where(.css-dev-only-do-not-override-12jzuas).ant-picker-dropdown
  .ant-picker-week-panel-row-range-start
  td.ant-picker-cell:before,
:where(.css-dev-only-do-not-override-12jzuas).ant-picker-dropdown
  .ant-picker-week-panel-row-range-end
  td.ant-picker-cell:before,
:where(.css-dev-only-do-not-override-12jzuas).ant-picker-dropdown
  .ant-picker-week-panel-row-selected
  td.ant-picker-cell:before {
  background-color: orange;
}
:where(.css-dev-only-do-not-override-12jzuas).ant-picker-dropdown
  .ant-picker-content
  th {
  color: orange;
}
