.MainApp {
  display: flex;
  background-color: #e5e5e5;
  padding: 17px 33px;
}
:where(.css-dev-only-do-not-override-12jzuas).ant-col-8 {
  text-align: left;
}
:where(.css-dev-only-do-not-override-12jzuas).ant-menu-light
  .ant-menu-submenu-selected
  > .ant-menu-submenu-title,
:where(.css-dev-only-do-not-override-12jzuas).ant-menu-light
  > .ant-menu
  .ant-menu-submenu-selected
  > .ant-menu-submenu-title {
  background-color: orange;
  color: white;
}
:where(
    .css-dev-only-do-not-override-12jzuas
  ).ant-menu-light.ant-menu-root.ant-menu-inline,
:where(.css-dev-only-do-not-override-12jzuas).ant-menu-light
  > .ant-menu.ant-menu-root.ant-menu-inline,
:where(
    .css-dev-only-do-not-override-12jzuas
  ).ant-menu-light.ant-menu-root.ant-menu-vertical,
:where(.css-dev-only-do-not-override-12jzuas).ant-menu-light
  > .ant-menu.ant-menu-root.ant-menu-vertical {
  background-color: #e5e5e5;
  border: none;
}
.ant-menu-item.active-menu-item {
  background-color: #e5d5cb;
}
.ant-menu-item.active-menu-item svg path {
  fill: white;
}
:where(.css-dev-only-do-not-override-12jzuas).ant-menu-light
  .ant-menu-item-selected,
:where(.css-dev-only-do-not-override-12jzuas).ant-menu-light
  > .ant-menu
  .ant-menu-item-selected {
  background-color: orange;
  color: white !important;
}
:where(.css-dev-only-do-not-override-12jzuas).ant-table-wrapper
  .ant-table-pagination-right {
  justify-content: center;
}

.ant-pagination-item-link .anticon svg {
  color: orange;
}
:where(.css-dev-only-do-not-override-12jzuas).ant-btn-primary {
  background-color: #f7f7f8;
  color: black;
}

:where(.css-dev-only-do-not-override-12jzuas).ant-input-search
  > .ant-input-group
  > .ant-input-group-addon:last-child
  .ant-input-search-button,
:where(.css-dev-only-do-not-override-12jzuas).ant-input-group
  > .ant-input:first-child,
:where(.css-dev-only-do-not-override-12jzuas).ant-input-group
  .ant-input-group-addon:first-child {
  background-color: #f7f7f8;
  color: black;
  height: 48px;
  margin-bottom: 10px;
}
:where(.css-dev-only-do-not-override-12jzuas).ant-modal .ant-modal-content {
  width: 760px;
}
